In [1]:
import csv
import pandas as pd

In [3]:
transactions_df = pd.read_csv('../data/processed_data/transactions.csv')
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70497 entries, 0 to 70496
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                70497 non-null  object
 1   credit              70497 non-null  object
 2   transaction_detail  70497 non-null  object
 3   transaction_id      70496 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.2+ MB

In [6]:
transactions_df['date'] = pd.to_datetime(transactions_df['date'])
transactions_df['credit'] = transactions_df['credit'].astype(float)

In [7]:
transactions_df.head()

,date,credit,transaction_detail,transaction_id
0,2024-01-09,50000.0,292976.010924.013647.xin cam on,5213.45946
1,2024-01-09,20000.0,VCB.CTDK.,NaN
2,2024-01-09,29000.0,MBVCB.6916176124.CAO VIET TUAN chuyen tien.CT ...,5241.83107
3,2024-01-09,3000.0,272986.010924.101858.DO DUC LOI chuyen tien,5218.87149
4,2024-01-09,3000.0,020097040509011046122024JDC5013867.96713 .1046...,5388.96713

In [8]:
transactions_df.sort_values(by='credit', ascending=False)

,date,credit,transaction_detail,transaction_id
59457,2024-10-09,1.000000e+09,SHGD:10004067.DD:240910.BO:VAN PHONG HOC VIEN ...,5009.34878
2555,2024-09-09,3.000000e+08,020097042209091712522024VHQZ187912.6995 8.1712...,5390.69958
23248,2024-10-09,3.000000e+08,TAP THE LAI DO KDL TRANG AN UNG HO DONG BAO,1.45000
16630,2024-10-09,2.500000e+08,939995.100924.075253.NGUYEN QUANG HAI UNG HO K...,5209.24565
21961,2024-10-09,2.000000e+08,978044.100924.091956.Ca si My Tam ung ho cho c...,5219.71107
...,...,...,...,...
5769,2024-09-09,1.000000e+03,MBVCB.6987713025.ungho.CT tu 9824331995 LUONG ...,5244.33450
68718,2024-10-09,1.000000e+03,MBVCB.6992785671.CHIA SE KHO KHAN CUNG BA CON ...,5243.85333
55898,2024-10-09,1.000000e+03,MBVCB.6992207714.NGUYEN SON HAI DUC chuyen tie...,5078.67459
669,2024-08-09,1.000000e+03,MBVCB.6979123351.LE MINH DUC chuyen tien.CT tu...,5078.96960
58653,2024-10-09,1.000000e+03,MBVCB.6992328539.cuu tro lu lut.CT tu 06410000...,5242.70454